@import "reset";
@import "variables";

header {
  display: flex;
  justify-content: space-between;
  margin: $headerMargin;

  p {
    font-size: $pFontSize;
  }
  .bars {
    display: none;
  }
  .menu {
    margin-top: 1em;
    a {
      text-decoration: none;
      margin-left: 1em;
      color: black;
      font-size: 1.5em;
      &:hover {
        color: $color;
      }
    }
    .btn1 {
      background-color: $color;
      color: white;
      padding: 0.5rem 0.8rem;
      border-radius: 4px;

      &:hover {
        color: white;
        background-color: orangered;
        transition: 0.3s;
      }
    }
  }
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  nav {
    h1 {
      font-size: $hFontSize;
      color: $color;
    }
    h2 {
      font-size: $hFontSize;
      margin-top: 1rem;
    }
    p {
      font-size: $pFontSize;
      margin-top: 1rem;
    }
    .btn2 {
      margin-top: 1rem;
      padding: 14px 32px;
      border-radius: 4px;
      border: none;
      background-color: $color;
      font-size: 1rem;
      position: absolute;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: orangered;
        transition: all 0.3s;
        border-radius: 4px;
      }
      &:hover::after {
        width: 100%;
      }
      a {
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 2;
      }
    }
  }
  nav {
    img {
      height: 40em;
      width: 36em;
    }
  }
}